---
import "../styles/global.css";

import MusicCanvas from "@components/MusicCanvas.svelte";
import MusicInfo from "@components/MusicInfo.svelte";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-gray-900">
    <div class="music-info-container">
      <MusicInfo client:load />
    </div>
    <div class="music-canvas-container">
      <MusicCanvas client:load />
    </div>
	</body>
</html>

<style>
    .music-info-container {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      pointer-events: none;
  }

  .music-canvas-container {
    position: relative;
    z-index: 1;
  }
</style>
